@import 'ext/solarized-light';

.highlight {
  background-color: #f4f4f4;
  margin-left: unset;
  margin-right: unset;
}

div.highlight {
  padding: 5px 20px;
}

pre.highlight, code {
  font-family: 'Consolas', Menlo, monospace;
  line-height: 1.4em;
  tab-size: 4;
}

.title {
  font-weight: bold !important;
}
